<h2>Show User</h2>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>

  <li>
    <strong>Username:</strong>
    <%= @user.username %>
  </li>

</ul>

<%= if @current_user == @user do %>
	<%= link "Edit Profile", to: user_path(@conn, :edit, @user) %>
<% end %>
<span><%= link "Search Users", to: user_path(@conn, :index) %></span>
