<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Microblog!</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="/css/style.css" type="text/css">


  </head>

  <body>


    <nav class="navbar navbar-dark bg-secondary navbar-expand-md">
      <%= link("Home", to: page_path(@conn, :index)) %>

      <button class="navbar-toggler" type="button"
              data-toggle="collapse" data-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto">
          <%= if @current_user do %>
            <li class="nav-item active">
              <%= link "My Profile", to: user_path(@conn, :show, @current_user.id),
                                   class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link "Create Post", to: message_path(@conn, :new),
                                   class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link "View Users", to: user_path(@conn, :index),
                                   class: "nav-link" %>
            </li>
            <li class="nav-item active">
              <%= link "View Posts", to: message_path(@conn, :index),
                                   class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>

      <%= if @current_user do %>

        <span class="text-light">
          <%= @current_user.email %>
          <%= link("logout", to: session_path(@conn, :logout), method: :delete) %>
        </span>

    <% else %>

      <div class="col-md-8">

        <%= form_for @conn, session_path(@conn, :login), [as: "user", class: "form-inline"], fn f -> %>
          <%= text_input f, :username_or_email,  placeholder: "username/email", class: "form-control" %>
          <%= text_input f, :password, placeholder: "password", class: "form-control" %>
          <%= submit "Log in", class: "btn btn-primary" %>
          <%= link "Sign Up", to: user_path(@conn, :new), class: "btn btn-primary" %>
        <% end %>
      </div>

    <% end %>
    </nav>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
